@import 'styles/config.scss';

.singleStat {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__statContainer {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  &__stat {
    @extend .mc-ui-h2;
    font-size: 2.5em;
  }
  &__labelContainer {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  &__label {
    @extend .mc-ui-h3;
    font-size: 1em;
    align-self: center;
  }
}